* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #e0f7f4, #f0fdfa);
    
}

/* CONTAINER */
.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* CARD */
.auth-card {
    background: #ffffff;
    width: 100%;
    max-width: 420px;
    padding: 40px 35px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    text-align: center;
}

/* TEXT */
.auth-card h2 {
    color: #009688;
    margin-bottom: 10px;
}

.subtitle {
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 30px;
}

/* INPUTS */
.input-group {
    display: flex;
    align-items: center;
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 12px 14px;
    margin-bottom: 18px;
}

.input-group .icon {
    margin-right: 10px;
    font-size: 14px;
    color: #9ca3af;
}

.input-group input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
}

/* BUTTON */
.btn-primary {
    width: 100%;
    padding: 14px;
    background: #00bfa5;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background: #009688;
}

/* SWITCH TEXT */
.switch-text {
    margin-top: 25px;
    font-size: 14px;
    color: #6b7280;
}

.switch-text a {
    color: #00bfa5;
    text-decoration: none;
    font-weight: 500;
}

.switch-text a:hover {
    text-decoration: underline;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #009688;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav a:hover {
    color: #009688;
}

.auth-buttons a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: 500;
}

.login {
    color: #333;
}

.signup {
    padding: 8px 16px;
    background: #009688;
    color: #fff;
    border-radius: 20px;
}

.signup:hover {
    background: #00796b;
}